#navbar{
	border-bottom: 1px solid whitesmoke;
	font-family: "Comfortaa";
	font-size: 1.1em;
	position: fixed;
	background: rgba(0,0,0,.3);
	height: 1.5em;
	min-width: 100%;
	text-align: center;
	z-index: 1000;
}
#navbar a, #navbar a:visited{
	color: whitesmoke;
	text-decoration: none;
	margin-right: 1em;
	font-weight: 300;
}
#navbar a:hover{
	color: indianred;
}
#entry{
	padding-top: 2em;
	height:780px;
	background: rgba(0,0,0,.9);
	text-align: center;
}
#heading{
	font-size: 5.45em;
	font-family: "Podkova";
	font-weight: 400;
	color: whitesmoke;
	margin-top:3em;
}
#head-blurb{
	font-family: "Podkova";
	font-weight: 400;
	color: whitesmoke;
}
#creations{
	padding-top: 2em;
	height:780px;
	text-align: center;
	background: whitesmoke;
	color:darkslategrey;
}
#create-head{
	font-size: 2em;
	font-family: "Comfortaa";
	color: darkslategrey;
}
#about{
	padding-top: 2em;
	min-width: 100%;
	height:780px;
	text-align: center;
	background: rgba(56,104,169,1);
}
#about-head{
	font-size: 2em;
	font-family: "Comfortaa";
	color: whitesmoke;
}
#footer{
	position: absolute;
	height: 1.5em;
	min-width: 100%;
	background: crimson;
	font-family: "Comfortaa";
	font-weight: 300;
	font-size: 1.2em;
	text-align: center;
	color: whitesmoke;
}
#list-info{
	color: darkslategrey;
	font-family: "Podkova";
	letter-spacing: 1px;
}
#tech-list{
	color: :whitesmoke;
	font-family: "Comfortaa";
}
.headshot{
	width: 300px;
	text-align: center;
	margin: 0 auto;
}
#blurb{
	font-family: "Comfortaa";
	font-weight: 300;
	line-height: 1.25em;
	letter-spacing: 1px;
	color: whitesmoke;
	width: 40em;
	margin: 1em auto;
	text-align: left;
}
.moi{
	border: 20px solid white;
	border-radius: 3px 20px 20px 20px;
}
.links{
	width: 50px;
}
.link-list{
	width: 40em;
	margin: 0 auto;
}